.imageBox{
    height: 350px;
    width: 90%;
    background-color: var(--screen);
    border: 5px inset var(--inborder);
    margin:5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox img{
    height:90%;
    width: 90%;
    border:1px solid black;
}