.imageBox{
    height: 70%;
    width: 90%;
    background-color: var(--screen);
    border: 5px inset var(--inborder);
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.imageBox img{
    height:100%;
    width: 100%;
}

.img{
    height:90%;
    width:90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.prevData{
    transform: rotate(180deg);
}

button{
    height:100%;
    background-color: transparent;
    border: none;
    color:var(--textcol)
}

.spinner{
    width: 48px;
    height: 48px;
    border: 10px solid var(--textcol);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s ease-in-out infinite;
    margin:0 auto;
}

@keyframes rotation {
    from{transform:rotate(0deg)}
    to{transform: rotate(360deg);}
}