div{
    display: flex;
    justify-content: center;
}

button{
    background-color: #23d9f9;
    border-style: outset;
    border-color: #23d9f9;
    padding:10px;
    height: 80px;
    width: 20%;
    margin:0 5px;
    border-radius: 50%;
}


button:hover{
    cursor: pointer;
    background-color: #4ac7dd;
}

button:active{
    transform: translate(1px, -1px);
}
