.hidden{
    display: none;
    background-color: var(--screenhover);
    color: var(--screen);
    padding: 5px;
    margin:0;
}
.descriptor{
    display: block;
}

.desc{
    border-bottom: 2px solid var(--screen)
}

.abilityContainer{
    border: 2px outset var(--screenhover);
    text-align:left;
    margin:0 auto;
    font-size: 1rem;
    margin: 1px 0;
}

.title{
    padding: 0 5px;
}
