.main-container{
    display: flex;
    width:100%
}

@media screen and (max-width:762px){
    .main-container{
        flex-direction: column;
        max-height: none;
    }
}

app-pokedata{
    max-height: 200px;
}