.infoContainer{
    max-height: 200px;
}

.spinner{
    width: 48px;
    height: 48px;
    border: 10px solid var(--textcol);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s ease-in-out infinite;
    margin:0 auto;
}

@keyframes rotation {
    from{transform:rotate(0deg)}
    to{transform: rotate(360deg);}
}

h3{
    margin:5px 0;
}