div{
    background-color: #e02a32;
    height: 500px;
    width: 400px;
    padding:10px;
}

.search{
    background-color: #b3232b;
    border-style: groove;
    border-color: #e02a32;
    height: 40px;
    flex-grow: 4;
}

.search-btn{
    background-color: #b3232b;
    border-style: groove;
    height: 40px;
    border-color: #e02a32;
    flex-grow: 1;
    box-sizing: content-box;
    color:#e02a32;
    font-size: xx-large;
}


form{
    padding:0;
    display: flex;
}
