
.main{
    background-color: #e02a32;
    height: 500px;
    width: 400px;
    padding:10px;
}
form{
    display: flex;
}
#search{

    background-color: var(--screen);
    border-style: inset;
    border-color: var(--inborder);
    border-width: 4px;
    height: 40px;
    color: var(--textcol);
    font-size: larger;
    flex-grow: 4;
    padding:0 5px;
}

.search-btn{
    background-color: #23d9f9;
    border-style: outset;
    height: 40px;
    border-color: #23d9f9;
    flex-grow: 1;
    box-sizing: content-box;
    color:#29abc2;
    font-size: xx-large;
}

.search-btn:active{
    transform: translate(1px, -1px);
}


.searchContainer{
    padding:0;
    display: flex;
}

.results{
    display: none;
    margin-top: 40px;
    background-color: var(--screen);
    width: 400px;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}
.results li{
    margin:0;
    border: 2px outset var(--screen);
    height:40px;
    display: flex;
    align-items: center;
    padding:5px
}
.results li:hover{
    background-color: var(--textcol);
}

#search:focus ~ .results{
    display: block;
    position: absolute;
}
