/* You can add global styles to this file, and also import other style files */
:root{
    --screen: #78d237;
    --textcol: #0f3c0f;
    --inborder: #8b282d;
    --texthover: #175f17;
    --screenhover: #5b9e2b;
}

@font-face {
    font-family: 'Pixelify';
    src: url('app/assets/fonts/PixelifySans/PixelifySans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'Pixelify';
}

.infoContainer{
    min-width: 80%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 5px;
}