h3{
    margin: 0;
}

.infoFlex > h3{
    display: flex;
    align-items: center;
    flex-grow:1;
}

.data-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    padding: 10px;
    background-color: #e02a32;
    border-right: 1px solid black;
}
.display-main{
    display: flex;
    background-color: var(--screen);
    border: 5px inset var(--inborder);
    border-radius: 5px;
    color: var(--textcol);
    padding: 5px 10px;
    height: 300px;
}

.audio-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.audio-container button{
    color: var(--textcol);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
}

.audio-container button:hover{
    color: var(--texthover);
}

.screen{
    background-color: var(--screen);
    border: 5px inset var(--inborder);
    border-radius: 5px;
    min-height: 200px;
    box-sizing: border-box;
    margin:10px 0 0 0;
    font-size:20px;
    color: var(--textcol);
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80%;
}

.prevData{
    transform: rotate(180deg);
}

button{
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--textcol)
}

button:hover{
    background-color:var(--screenhover);
    color:var(--texthover);
}

.info{
    max-height: 100%;
    overflow-y: auto;
    min-width: 80%;
    margin-top: 0;
    padding: 0px;
}

.info::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
.info::-webkit-scrollbar-thumb{
    background-color: var(--textcol);
    border-radius: 10px;
}

.info::-webkit-scrollbar-thumb:hover{
    background-color: var(--texthover);
}

img{
    height: 20px;
    margin: 0px 5px;
    border-radius: 50%;
    padding:5px;
    background-color: white;
}

.type{
    display: flex;
    padding: 0;
    align-items: center;
    flex-grow: 1;
 }

.infoFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.loader::after{
    content:".";
    animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
    0%{
        content: ".";
    }
    33% {
        content: "..";
    }
    66% {
        content: "...";
    }
}
