<div class="data-container">
    <div class="display-main">
        <div>
            <h3>Name: {{data.name[0].toUpperCase() + data.name.substring(1)}} </h3>
            <h3>Height: {{data.height}} m</h3>
            <h3>Weight: {{data.weight}} kg</h3>
            <h3>Type: </h3>
                <div class="audio-container">
                    <h3>Cry: </h3>
                    <audio id="player" #audioRef  volume="1" [src]="data.cryUrl" type="audio/ogg"></audio>
                    <button (click)="play()"><fa-icon [icon]="faPlay"></fa-icon></button>
                    <button (click)="pause()"><fa-icon [icon]="faPause"></fa-icon></button>
                </div>
            </div>
    </div>
    <div class="screen">
        <button class="prevData" (click)="prev()"><fa-icon [icon]="faPlay"></fa-icon></button>
        @if (counter === 0) {
            <app-description [description]="data.description"></app-description>
        }@else if (counter === 1) {
            <app-pokestats></app-pokestats>
        }@else if (counter === 2) {
            <app-pokeabilities></app-pokeabilities>
        }@else if (counter === 3) {
            <app-pokemoves></app-pokemoves>
        }
        <button class="nextData" (click)="next()"><fa-icon [icon]="faPlay"></fa-icon></button>  
    </div>
</div>

